<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai image sorter</title>
</head>

<body>
    <div>
        <form action="get">
            <label for="openProj">Open project</label>
            <input type="file" id="openProj">
        </form>
    </div>
</body>

</html>